<div class="card d-flex container mt-1" style="border: none; width: 15rem;">
    <div class="card p-1 bg-white"><i class="fa fa-apple"></i>
        <div class="about-product text-center mt-1"><img src=<%= pokemon.photo %> width="150">
            <div>
                <h4><%= pokemon.name %></h4>
                <h6 class="mt-0 text-black-50"><%= pokemon.description %></h6>
            </div>
        </div>
        <div class="stats mt-1">
            <h5>Abilities:</h5>
            <% pokemon.abilities.each do |ability|  %>
                <div class="d-flex justify-content-between p-price"><span><%= ability %></span></div>
            <% end %>
        </div>
    </div>
</div>
