<style>
a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6;
    text-decoration:none;
    cursor:pointer;
}
</style>
<div class="container-fluid">
  <div class="row">
    <% @pokemons_presenter.results.each do |pokemon_presenter| %>
        <div class="col">
          <a href="<%= pokemon_path(pokemon_presenter.id) %>" data-turbo="false">
            <%= react_component("Card", props: {
              pokemon: pokemon_presenter.as_json,
              detail: pokemon_presenter.detail,
              photo: pokemon_presenter.photo,
              type: { name: pokemon_presenter.type, class:  pokemon_type(pokemon_presenter.type.first) },
              weight: pokemon_presenter.weight,
              height: pokemon_presenter.height,
              base_experience: pokemon_presenter.base_experience,
              abilities: pokemon_presenter.abilities
          }) %>
         </a>
        </div>
    <% end %>
  </div>
  <div class="row">
    <%= render partial: 'shared/pagination', locals: { collection: @pokemons_presenter } %>
  </div>
</div>
